:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  background: url("./assets/bg_colorful.jpg") no-repeat center center fixed;
  background-size: cover;
  min-width: 320px;
  min-height: 100vh;
  max-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header p {
    margin: 0;
    font-size: 1.2em;
}

.all-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.all-games {
  max-height: 20rem;
  overflow-y: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: fit-content;
  border: 5px solid #212121;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.card form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card label {
  font-weight: bold;
}

.card input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000000;
}

#host-button {
  padding: 10px 20px;
  background-color: #202149;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#host-button:hover {
  background-color: #242875;
}

.card-img {
  width: 185px;
  height: 110px;
  border-radius: 5%;
  border: 3px solid #212121;
}

.word-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: fit-content;
  border-radius: 10px;

  position: relative;
}

.card-word {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: bold;
  position: absolute;
  color: #000000;
  font-size: 1.5em;
  Top: 35%;
}

.word-card.selected {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 10px 0px 20px #000000;
}

.board-div {
  grid-column: 2;
  max-height: 60vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-items: center;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.board h1 {
  font-size: 5em;
  margin-top: 0;
  font-weight: bold;
  text-align: center;
}


.team-card {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: fit-content;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  border: #1a1a1a 4px solid;
}

.team-card button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.team-card h2 {
  font-size: 2em;
  margin: 0;
}

.team-card button {
  padding: 10px 20px;
  background-color: #202149;
  color: white;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-teamjoin {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.homescreen  h1 {
    font-size: 3em;
    margin: 0.2em;
    display: block;
    order: -1;
}

.teams {
  display: flex;
  gap: 10px;
}

.homescreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.homescreen .joinAGame {
  background: #ee7c2a;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.homescreen {
  max-width: 70%;

  padding: 5px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gameid {
  font-size: 1.5em;
  color: #1a1a1a;
  margin: 0.2em;
  padding: 0.3em;
  border-radius: 5px;
  background: #e5cdbb;
}

.hint-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hint-container button {
  padding: 10px 20px;
  background-color: #202149;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hint-container button:hover {
  background-color: #242875;
}

.hint-container input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000000;
}

.scoreboard-container {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  border: #1a1a1a 4px solid;
}

.board {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}



.score-card {
    background-color: #c3c3c3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:  80%;
    max-height: fit-content;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.score-card {
   color: white;
}

.score-card.BLUE {
  background-color: #646cff;
}

.score-card.RED {
  background-color: #ff6464;
}

.role-container {
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 20px;
}

.hint-container.hidden {
  display: none;
}

.hint-container .disabled-button {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.hint-container {
    text-align: center;
}

.role-container .BLUE, .hint-container .BLUE{
    color: #646cff;
}

.role-container .RED,  .hint-container .RED{
    color: #ff6464;
}

.winner {
    font-size: 2em;
    font-weight: bold;
    color: #000000;
  align-items: center;
}


